@import "../../css/variables.css";
/* LAYOUT */
body {
  background: var(--bg);
  color: var(--text);
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

#main-div {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* STYLE */

body {
  /*border: .2rem solid red;*/
}

.main-view {
  font-size: 5rem;
}


#main-div {
  background-color: var(--bg);
}



