.dropdown-menu {
  display:none;
  position: absolute;
  min-width: 5rem;
  min-height: 5rem;
  border: 1px solid black;
  background: white;
}

.dropdown-menu.open {
  display:flex;
  flex-direction: column;
}

.dropdown-menu a {
}
.dropdown-menu button {
}
.dropdown-menu-button {
}
