@import "./menu_icon_button.css";

/*----------------------------------------*/
              /* Layout */
/*----------------------------------------*/

.c-nav-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
}

.c-nav-bar-center-container {
  display: flex;
  justify-content: center;
}

.c-nav-bar-right-container {
  gap: .2rem;
  display: flex;
  justify-content: flex-end;
  padding: .2rem;
}

.c-nav-bar-left-container {
  display: flex;
  justify-content: flex-start;
  padding: .2rem;
}

.c-nav-bar-link {
  padding: 0.5rem;
}

.c-nav-bar-link:hover {
  box-sizing: border-box;
}
/*----------------------------------------*/
                /* Style */
/*----------------------------------------*/

.c-nav-bar {
  /*border: .2rem solid #007bff;*/
  /* light blue*/
  background-color: #e6f7ff;
}

.c-nav-bar-center-container {
}

.c-nav-bar-link {
  text-decoration: none;
  color: inherit;
  border: .2rem solid transparent;
}


.c-nav-bar-link:hover {
  color: #007bff;
  border-color: #007bff;
}
