@import url("variables.css");

/* Components */
@import url("components/layout/nav_bar.css");
@import url("components/shared/dropdown_menu.css");

/*RESET*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN LAYOUT */
body {
  background: var(--bg);
  color: var(--text);
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

#main-div {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN STYLE */

body {
  /*border: .2rem solid red;*/
}

.main-view {
  font-size: 5rem;
}

#main-div {
  background-color: var(--bg);
}



